---
import Layout from '../layouts/Layout.astro';
---

<Layout>
		<div id="divLoading">
            <div>载入中，请稍候…</div>
            <div>本游戏需要JavaScript方能运行。请确保此页面已启用JavaScript。</div>
        </div><div id="divHiddenPictureLoader">
                <img id="imgEasterEggLucario" src="" />
            </div><div id="mainwrapper" style="display: none">
                <div id="choose">
                    <h2><img id="imgLogo" src="https://gateway.pinata.cloud/ipfs/QmcB7Wy2c5jCzTiPzC1MsA5zhMayR3BxbMDdCaYp4W8zp3" /> Heat Control</h2>
                    <div id="divVersion">(v?)</div>
                    <div id="divIntroContainer" class="">
                        <div id="divIntroImage">
                            <img id="imgIntro" />
                            <div id="divGenderButtons">
                                <input type="image" class="iconGender" id="buttonSetCharMale" src="https://gateway.pinata.cloud/ipfs/QmQWMQh8sDg5EgNbEeGfjXxeju8wGtSFgJLce5puSRzvVg" />
                                <input type="image" class="iconGender" id="buttonSetCharFemale" src="https://gateway.pinata.cloud/ipfs/QmQWMQh8sDg5EgNbEeGfjXxeju8wGtSFgJLce5puSRzvVg" />
                            </div>
                        </div>
                        <div id="divIntroInstructions" class="card">
                            <p>有朋自远方来，不亦乐乎！在下 <span id="spanCharName">--DragonJay--</span>, 愿与君共同射精！</p>
                            <p>游戏规则，请细览： <input type="button" id="buttonShowRules"  value="展开" /></p>
                            <ul id="rulesText">
                                <li>指令将引导君起起落落，直至射精之时！</li>
                                <li>当'射精'之标现，需谨慎，恐下一刻便射出精来！</li>
                                <li>未得令前，切勿擅自射精。</li>
                                <li>若觉将至射精，需缓之熄之，待令而动！</li>
                                <li>得令可射时，若'射精'之标已至尽头而君尚未射精，则失此良机。</li>
                                <li>欲火更旺，可用巧物助兴，或与佳人共赴射精！</li>
                            </ul>
                            <p>点此查看捷径与手势： <input type="button" id="buttonShowShortcuts"  value="显示捷径" /></p>
                            <p class="align-middle">
                                如果你对褌/足袋感兴趣，请填写这个问卷→<a href="https://forms.office.com/r/FimF20qqQk">https://forms.office.com/r/FimF20qqQk</a>
                                如果想了解褌/足袋，请访问这个网站→<a href="https://alove.dragonjay.top/">https://alove.dragonjay.top/</a>
                                <input type="button" id="buttonShowCredits"  value="更多" />
                            </p>
                            <p id="creditsSection">
                                灵感源自www.edgemeplease.com，取其精华，更进一步！
                                感谢诸位测试之士，建言献策，使游戏更臻完美！
                                <a href="https://t.me/NeilBowM">Telegram</a> <a href="mailto:lyjcody@foxmail.com">lyjcody@foxmail.com</a>
                            </p>
                        </div>
                    </div>

                    <div class="form-horizontal card">
                        <div id="basicOptionsWrapper">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">游戏模式</label>
                                <div class="col-sm-8">
                                    <span class="radioSpan">
                                        <input id="rbGameModeNormal" type="radio" name="rbGameMode" />
                                        <label for="rbGameModeNormal">控射</label>
                                    </span>
                                    <span class="radioSpan">
                                        <input id="rbGameModeEndurance" type="radio" name="rbGameMode" />
                                        <label for="rbGameModeEndurance">耐力</label>
                                    </span>
                                    <span class="radioSpan">
                                        <input id="rbGameModeSlideshow" type="radio" name="rbGameMode" />
                                        <label for="rbGameModeSlideshow">幻灯片</label>
                                    </span>
                                    <input type="button" id="buttonGameModeHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group gameModeNormal">
                                <label class="col-sm-4 control-label">持续时间</label>
                                <div class="col-sm-8">
                                    <div id="divEdgeDuration"></div>
                                    <span class="sliderControls">
                                        <input type="button" id="buttonEdgeDurationMinus" class="buttonIncrement"  value="-" />
                                        <input type="range" id="rangeEdgeDuration" name="rangeEdgeDuration" min="5" max="240" step="5"  value="30" />
                                        <input type="button" id="buttonEdgeDurationPlus" class="buttonIncrement"  value="+" />
                                    </span>
                                    <input type="button" id="buttonDurationHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group gameModeEndurance">
                                <label class="col-sm-4 control-label">情调</label>
                                <div class="col-sm-8">
                                    <select id="selectMood">
                                        <option  value="gentle">温和（最长 1 小时）</option>
                                        <option  value="average" selected="selected">平均（最多 2 小时）</option>
                                        <option  value="evil">邪恶（最多 4 小时）</option>
                                    </select>
                                    <input type="button" id="buttonMoodHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group gameModeNormal">
                                <label class="col-sm-4 control-label">射精机会</label>
                                <div class="col-sm-8">
                                    <div id="divCumPercent">50%</div>
                                    <span class="sliderControls">
                                        <input type="button" id="buttonCumPercentMinus" class="buttonIncrement"  value="-" />
                                        <input type="range" name="cumPercent" id="cumPercent" min="0" max="100" step="1"  value="50" />
                                        <input type="button" id="buttonCumPercentPlus" class="buttonIncrement"  value="+" />
                                    </span>
                                    <input type="button" id="buttonCumHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group gameModeSlideshow">
                                <label class="col-sm-4 control-label">幻灯片图片播放速度</label>
                                <div class="col-sm-8">
                                    <input id="nbSlideshowMinSpeed" type="number"  value="20" min="5" max="999" />
                                    到 <input id="nbSlideshowMaxSpeed" type="number"  value="40" min="5" max="999" /> 秒
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-4 control-label">使用图片</label>
                                <div class="col-sm-8">
                                    <span class="radioSpan">
                                        <input id="rbPicUseLocal" type="radio" name="rbPicUse" />
                                        <label id="labelRbPicUseLocal" for="rbPicUseLocal">本地</label>
                                    </span>
                                    <span class="radioSpan">
                                        <input id="rbPicUseFavorites" type="radio" name="rbPicUse" />
                                        <label for="rbPicUseFavorites">E621 收藏夹</label>
                                    </span>
                                    <span class="radioSpan">
                                        <input id="rbPicUseSearch" type="radio" name="rbPicUse" />
                                        <label for="rbPicUseSearch">E621 搜索</label>
                                    </span>
                                    <span class="radioSpan">
                                        <input id="rbPicUseList" type="radio" name="rbPicUse" />
                                        <label for="rbPicUseList">自定义列表</label>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group picUseFavorites">
                                <label class="col-sm-4 control-label">用户名</label>
                                <div class="col-sm-8">
                                    <input id="textfieldUsername" type="text" name="textfieldUsername" />
                                </div>
                            </div>

                            <div class="form-group picUseSearch">
                                <label class="col-sm-4 control-label">搜索查询</label>
                                <div class="col-sm-8">
                                    <input id="textfieldSearchQuery" type="text" name="textfieldSearchQuery" />
                                </div>
                            </div>

                            <div class="form-group picUseSearch">
                                <label class="col-sm-4 control-label">标签 黑名单</label>
                                <div class="col-sm-8">
                                    <input id="textfieldTagsBlacklist" type="text" name="textfieldTagsBlacklist" />
                                </div>
                            </div>

                            <div class="form-group picUseSearch">
                                <label class="col-sm-4 control-label">分数阈值</label>
                                <div class="col-sm-8">
                                    <input id="nbSearchScore" type="number"  value="20" min="0" max="999" />
                                    <input type="button" id="buttonScoreThresholdHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group picUseSearch">
                                <label class="col-sm-4 control-label">Order</label>
                                <div class="col-sm-8">
                                    <input id="rbSearchOrderRandom" type="radio" name="rbSearchOrder" checked  />
                                    <label for="rbSearchOrderRandom">随机</label>
                                    <input id="rbSearchOrderPopular" type="radio" name="rbSearchOrder" />
                                    <label for="rbSearchOrderPopular">最受欢迎</label>
                                    <input id="rbSearchOrderRecent" type="radio" name="rbSearchOrder" />
                                    <label for="rbSearchOrderRecent">最近</label>
                                    <input type="button" id="buttonSearchOrderHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group picUseFavorites picUseSearch">
                                <label class="col-sm-4 control-label">图片数量</label>
                                <div class="col-sm-8">
                                    <input id="nbMaxPicNum" type="number" name="nbMaxPicNum"  value="100" min="0" max="6400" /> (最大 6400)
                                    <input type="button" id="buttonMaxPicNumHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group picUseFavorites">
                                <label class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <input id="buttonLoadFavorites" type="button"  value="加载收藏夹" />
                                </div>
                            </div>

                            <div class="form-group picUseSearch">
                                <label class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <input id="buttonLoadSearch" type="button"  value="加载搜索" />
                                </div>
                            </div>

                            <div class="form-group picUseList">
                                <label class="col-sm-4 control-label">候选名单</label>
                                <div class="col-sm-8">
                                    <select name="picUseListSelector" id="picUseListSelector"></select>
                                    <input id="buttonLoadList" type="button"  value="添加列表" />
                                    <label id="labelInputList">独特照片总数： 0</label>
                                </div>
                                <div id="divSelectedLists"></div>
                            </div>

                            <div class="form-group picUseFavorites picUseSearch">
                                <label class="col-sm-4"></label>
                                <div class="col-sm-8">
                                    <span id="spanImageCount">找到图片: 0</span>
                                    <input type="button" id="buttonDisplayImages" class="disabled"  value="显示结果" disabled />
                                </div>
                            </div>

                            <div class="form-group picUseLocal">
                                <label class="col-sm-4 control-label">选择内容:</label>
                                <div class="col-sm-8">
                                    <input id="inputFiles" type="button"  value="选择文件夹..." /><label id="labelInputFiles">Pics: 0</label>
                                    <input id="buttonOwnPicHelp" type="button" class="helpButton"  value="?" />
                                </div>
                                <label class="col-sm-4 control-label"></label>
                                <div id="subfolderSelection" class="col-sm-8">
                                    <input id="cbIncludeSubfolders" type="checkbox" name="cbIncludeSubfolders" />
                                    <label for="cbIncludeSubfolders">包含子文件夹</label>
                                </div>
                                <div id="divSelectedFolders"></div>
                            </div>

                            <div class="form-group gameModeNormal gameModeEndurance">
                                <label class="col-sm-4 control-label">射精图片</label>
                                <div class="col-sm-8">
                                    <input id="textfieldCumPic" type="text" name="textfieldCumPic" placeholder="输入图片 URL" />
                                    <input id="buttonLoadCumPic" type="button"  value="加载" />
                                    <input type="button" id="buttonCumPicHelp" class="helpButton"  value="?" />
                                </div>
                            </div>

                            <div class="form-group gameModeNormal gameModeEndurance">
                                <label class="col-sm-4 control-label"></label>
                                <div class="col-sm-8">
                                    <img id="imgCumPic" />
                                    <input id="buttonCancelCumPic" type="button"  value="取消" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="button" id="buttonEditLists"  value="编辑图像列表" />
                                </div>
                            </div>

                            <div class="form-group hidden">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="button" id="buttonEditTrainer"  value="自定义训练器" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="button" id="buttonShowAdvancedOptions"  value="高级选项" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-8">
                                    <input type="button" id="buttonStartGame"  value="开始" />
                                </div>
                            </div>
                        </div>

                        <div id="advancedOptionsWrapper">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">射精时间指示器</label>
                                    <div class="col-sm-8">
                                        <select name="strokeControl" id="optionStrokeControl">
                                            <option  value="1" selected="selected">圆圈</option>
                                            <option  value="2">背景</option>
                                            <option  value="">不显示</option>
                                        </select>
                                        <br />
                                        <input id="cbStrokeControlTick" type="checkbox" name="cbStrokeControlTick" />
                                        <label for="cbStrokeControlTick">添加滴答声（可在游戏中用 "m "切换）</label>
                                        <input type="button" id="buttonStrokeControlHelp" class="helpButton"  value="?" />
                                        <br />
                                        <input id="cbCumNoTick" type="checkbox" name="cbCumNoTick" />
                                        <label for="cbCumNoTick">在 "射精！！！"阶段禁用冲程速度指示器</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">停止步骤</label>
                                    <div class="col-sm-8">
                                        <input id="cbStopSteps" type="checkbox" name="cbStopSteps" checked  />
                                        <label for="cbStopSteps">点击启用</label>
                                        <input type="button" id="buttonStopStepsHelp" class="helpButton"  value="?" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">计时器</label>
                                    <div class="col-sm-8">
                                        <input id="cbShowTimerMessages" type="checkbox" name="cbShowTimerMessages" checked  />
                                        <label for="cbShowTimerMessages">显示耗时信息</label>
                                        <input type="button" id="buttonShowTimerMessagesHelp" class="helpButton"  value="?" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">性感的 "不手淫 "步骤</label>
                                    <div class="col-sm-8">
                                        <input id="sexyNoFap" type="checkbox" name="sexyNoFap" />
                                        <label for="sexyNoFap"><i>图片不会停止......永远......</i></label>
                                        <input type="button" id="sexyNoFapHelp" class="helpButton"  value="?" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">图片在步骤中变化</label>
                                    <div class="col-sm-8">
                                        <input id="permaSlideshow" type="checkbox" name="permaSlideshow" />
                                        <label for="permaSlideshow">点击启用</label>
                                        <input type="button" id="permaSlideshowHelp" class="helpButton"  value="?" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">图像切换速度</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <label>开始步骤: </label>
                                            <input id="nbPictureChangeSpeed" type="number"  value="10" min="1" max="30" />
                                            <input type="button" id="buttonPictureChangeSpeedHelp" class="helpButton"  value="?" />
                                        </div>
                                        <div>
                                            <label>射精步骤: </label>
                                            <input id="nbPictureChangeSpeedCum" type="number"  value="10" min="1" max="30" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">步骤速度</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <label>开始步骤: </label>
                                            <span id="spanStepSpeedGo">x1</span>
                                            <input type="button" id="buttonStepSpeedHelp" class="helpButton"  value="?" />
                                        </div>
                                        <div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonStepSpeedGoMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeStepSpeedGo" name="rangeStepSpeedGo" min="0.25" max="3" step="0.25"  value="1" />
                                                <input type="button" id="buttonStepSpeedGoPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                        </div>
                                        <div>
                                            <label>停止步骤: </label>
                                            <span id="spanStepSpeedStop">x1</span>
                                        </div>
                                        <div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonStepSpeedStopMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeStepSpeedStop" name="rangeStepSpeedStop" min="0.25" max="3" step="0.25"  value="1" />
                                                <input type="button" id="buttonStepSpeedStopPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">图片尺寸</label>
                                    <div class="col-sm-8">
                                        <input id="cbFastQuality" type="checkbox" name="cbFastQuality" />
                                        <label for="cbFastQuality">较低的图像质量</label>
                                        <input type="button" id="buttonPicSizeHelp" class="helpButton"  value="?" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">背景颜色更换器</label>
                                    <div class="col-sm-8">
                                        <input type="color" id="backgroundColorGo" name="backgroundColorGo"  value="#001100" />
                                        <label for="backgroundColor">开始时的背景颜色</label>
                                        <input type="color" id="backgroundColorStop" name="backgroundColorStop"  value="#330000" />
                                        <label for="backgroundColor">结束时的背景颜色</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Buttplug.io 界面（这是一个可联网的性玩具）</label>
                                    <div class="col-sm-8">
                                        <div>
                                            <label>服务器 URL:</label>
                                        </div>
                                        <div>
                                            <input type="text" id="textServerUrl"  value="ws://localhost:12345" />
                                            <input type="button" id="buttonButtplugConnectHelp" class="helpButton"  value="?" />
                                        </div>
                                        <div>
                                            <input type="button" id="buttonButtplugConnect"  value="连接" />
                                            <input type="button" id="buttonButtplugDisconnect"  value="断开" />
                                            <span id="spanButtplugConnectionStatus">断开</span>
                                        </div>
                                        <br />
                                        <div>
                                            <label>功率校准: </label>
                                            <input type="button" id="buttonButtplugVibratePowerHelp" class="helpButton"  value="?" />
                                        </div>
                                        <div>
                                            <div><label> [振动] </label><span id="spanVibratePower">100%</span></div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonVibratePowerMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeVibratePower" name="rangeVibratePower" min="0" max="100" step="1"  value="100" />
                                                <input type="button" id="buttonVibratePowerPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                            <input type="button" id="buttonButtplugVibrate"  value="测试振动" />
                                        </div>
                                        <div>
                                            <div><label> [震荡] </label><span id="spanOscillatePower">100%</span></div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonOscillatePowerMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeOscillatePower" name="rangeOscillatePower" min="0" max="100" step="1"  value="100" />
                                                <input type="button" id="buttonOscillatePowerPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                            <input type="button" id="buttonButtplugOscillate"  value="测试振荡" />
                                        </div>
                                        <div>
                                            <div><label> [旋转] </label><span id="spanRotatePower">100%</span></div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonRotatePowerMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeRotatePower" name="rangeRotatePower" min="0" max="100" step="1"  value="100" />
                                                <input type="button" id="buttonRotatePowerPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                            <input type="button" id="buttonButtplugRotate"  value="测试旋转" />
                                        </div>
                                        <div>
                                            <div><label> [最小移动速度] </label><span id="spanMoveSpeedMin">1BPS</span></div>
                                            <div><label> [最大移动速度] </label><span id="spanMoveSpeedMax">5BPS</span></div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonMoveSpeedMinMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeMoveSpeedMin" name="rangeMoveSpeedMin" min="0.5" max="6" step="0.25"  value="1" />
                                                <input type="button" id="buttonMoveSpeedMinPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonMoveSpeedMaxMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeMoveSpeedMax" name="rangeMoveSpeedMax" min="0.5" max="6" step="0.25"  value="5" />
                                                <input type="button" id="buttonMoveSpeedMaxPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                            <div><label> [长度范围] </label><span id="spanMoveLength">100%</span></div>
                                            <span class="sliderControls">
                                                <input type="button" id="buttonMoveLengthMinus" class="buttonIncrement"  value="-" />
                                                <input type="range" id="rangeMoveLength" name="rangeMoveLength" min="0" max="100" step="1"  value="100" />
                                                <input type="button" id="buttonMoveLengthPlus" class="buttonIncrement"  value="+" />
                                            </span>
                                            <label> BPS:</label><input id="nbMovePowerTestBps" type="number"  value="2.5" min="1" max="5" step="0.1" />
                                            <input type="button" id="buttonButtplugMove"  value="测试运动" />
                                        </div>
                                        <div>
                                            <label> [收缩] </label>
                                            <input id="cbButtplugConstrict" type="checkbox" name="cbButtplugConstrict" checked  />
                                            <label for="cbButtplugConstrict">开启</label>
                                            <input type="button" id="buttonButtplugConstrict"  value="测试收缩" />
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">射精功率</label>
                                    <div class="col-sm-8">
                                        <input id="cbFinishStepMaxVibe" type="checkbox" name="cbFinishStepMaxVibe" />
                                        <label for="cbFinishStepMaxVibe">拉满</label>
                                        <input type="button" id="buttonHelpFinishStepMaxVibe" class="helpButton"  value="?" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="button" id="buttonExitAdvancedOptions"  value="退出" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="listsWrapper">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="button" id="buttonEditBlacklist"  value="编辑黑名单" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <div id="createNewListWrapper">
                                            <div id="listOfListsWrapper">
                                                <select name="listOfListsSelector" id="listOfListsSelector"></select>
                                                <input type="text" id="newListNameField" placeholder="为您的清单命名" />
                                            </div>
                                            <input type="button" id="buttonEditSelectedList"  value="编辑选定列表" />
                                            <input type="button" id="buttonDeleteSelectedList"  value="删除所选列表" />
                                        </div>
                                        <input type="button" id="buttonCreateNewList"  value="创建新列表" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">共享列表: </label>
                                    <div class="col-sm-8">
                                        <select name="exportListOfListsSelector" id="exportListOfListsSelector"></select>
                                        <input type="button" id="buttonExportSelectedList"  value="导出列表" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">导入到: </label>
                                    <div class="col-sm-8">
                                        <select name="importListOfListsSelector" id="importListOfListsSelector">
                                            <option  value="New List">新列表</option>
                                        </select>
                                        <input type="button" id="buttonImportNewList"  value="Import List" />
                                        <input type="file" id="fileSelectorListImport" accept=".list" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="button" id="buttonExitListEditor"  value="退出" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="trainerOptionsWrapper" class="hidden">
                            <div class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">训练者姓名: </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="trainerNameInput" placeholder="Name" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">训练者图像: </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="trainerImageInput" placeholder="URL" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">命令: </label>
                                    <div class="col-sm-8">
                                        <input type="text" id="trainerCommandInput" placeholder="Command" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-4"></div>
                                    <div class="col-sm-8">
                                        <input type="button" id="exitTrainerOptions"  value="退出" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="gamewrapper">
                    <div id="flashBg"></div>
                    <div id="divGameHeader" class="row header">
                        <input id="buttonSlideshowBackToMenu" type="button"  value="x" />
                        <div id="divMessageContainer">
                            <div id="divImageHead">
                                <img id="imageHead" />
                            </div>
                            <div id="message"></div>
                            <div id="divRightMessage">
                                <div id="flash" class="off"></div>
                                <img id="flashImg" src="https://gateway.pinata.cloud/ipfs/QmS5DxeYPohpxTLnkf819o4WAvqexs31c7ayntNCnREybj" />
                            </div>
                        </div>
                        <div id="progress">
                            <div id="divJerkbar" class="jerkbar">
                                <div id="divJerkbarFill" class="bar"></div>
                                <div id="labelJerkbar" class="text">控制</div>
                            </div>
                            <div id="divCumbar" class="cumbar">
                                <div class="separator"></div>
                                <div id="divCumbarFill" class="bar"></div>
                                <div id="labelCumbar" class="text">射精?</div>
                            </div>
                        </div>
                        <div id="divGameControls">
                            <div id="nextImageCircle" class="circular-progress">
                                <div class="circular-progress-circle">
                                    <div id="quadrant1" class="rotate-[270deg] segment skew-x-0"></div>
                                    <div id="quadrant2" class="rotate-180 segment skew-x-0"></div>
                                    <div id="quadrant3" class="rotate-90 segment skew-x-0"></div>
                                    <div id="quadrant4" class="rotate-0 segment skew-x-0"></div>
                                </div>
                            </div>
                            <div class="w-fit flex">
                                <input id="buttonSlideshowPause" type="button"  value="| |" />
                                <input id="buttonSlideshowPrev" type="button"  value="<-" />
                                <input id="buttonSlideshowNext" type="button"  value="->" />
                                <input id="buttonSlideshowView" type="button"  value="View in E621" />
                                <input id="buttonBlacklistPicture" class="picUseSearch" type="button"  value="黑名单 [x]" />
                            </div>
                            <div id="gameListSelectorWrapper">
                                <input id="buttonImageAddToListGameText" type="button"  value="书签 [b]" />
                            </div>
                        </div>
                    </div>
                    <div class="row content">
                        <div id="imageContainer">
                            <img id="imageDisplayed" />
                            <img id="imageDisplayed2" />
                            <img id="imgDisplayedCum" />
                        </div>
                    </div>
                </div>

                <div id="imageBrowser">
                    <div id="divImageBrowserGridControls">
                        <div class="w-fit">
                            <input id="buttonGridPrevPage" type="button"  value="<-" />
                            <input id="buttonGridNextPage" type="button"  value="->" />
                        </div>
                        <div id="divImageBrowserPageNumber">页面: 0</div>
                        <input id="buttonExitGrid" type="button"  value="退出" />
                    </div>

                    <div id="divImageBrowserGridWrapper"></div>
                </div>

                <div id="bigImageViewer">
                    <div id="divBigImageViewerControls">
                        <div class="w-fit">
                            <input id="buttonBigImagePrev" class="spacedButtons" type="button"  value="<-" />
                            <input id="buttonBigImageNext" class="spacedButtons" type="button"  value="->" />
                            <input id="buttonImageViewerViewE6" class="spacedButtons" type="button"  value="在 E621 中查看" />
                        </div>

                        <div id="bigImageViewerMiddleControlWrapper" class="min-w-[288.09px] flex flex-wrap justify-center">
                            <div id="browserListSelectorWrapper" class="flex mt-[7px]">
                                <input id="buttonImageAddToListBrowserText" type="button"  value="Add to list" class="m-0 spacedButtons" />
                                <div id="browserExtensionWrapper" class="flex">
                                    <div id="browserListOfListsWrapper" class="flex min-w-[183px] content-start items-center justify-center">
                                        <select name="browserListOfListsSelector" id="browserListOfListsSelector" class="absolute min-w-[185px] min-h-[31px]"></select>
                                        <input type="text" id="browserNewListNameField" placeholder="Name your list" class="absolute hidden mt-0" />
                                    </div>
                                    <input id="browserButtonImageAddToListNew" type="button"  value="New" class="m-0 spacedButtons" />
                                </div>
                                <input id="browserButtonExpandListSelectors" type="button"  value="<" class="m-0 spacedButtons" />
                            </div>
                            <input id="buttonBigImageRemoveList" class="spacedButtons" type="button"  value="从列表中删除" />
                            <input id="buttonBigImageBlacklist" class="spacedButtons" type="button"  value="黑名单" />
                        </div>

                        <input id="buttonBigImageExit" class="spacedButtons" type="button"  value="返回" />
                    </div>
                    <div id="divBigImageSrcWrapper">
                        <img alt="image" id="bigImageSrcHolder" />
                    </div>
                </div>
            </div><div id="divNotificationContainerWrapper">
                <div id="divNotificationContainer"></div>
            </div><div id="divPopupContainer"></div>
            <div id="waline"></div>
						<script type="module">
						  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';
					  
						  init({
							el: '#waline',
							serverURL: 'https://com.dragonjay.top',
						  });
						</script>	  
</Layout>