---
---

<!doctype html>
<html lang="zh-CN" class="min-h-full h-full w-full text-[#dddddd] m-0 dark bg-black">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
		<title>边缘控射 - 控射游戏</title>
		<meta name="description" content="Heat Control by Howling-Strawberries">
		<link href="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/css/styles.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/css/styles_m.css" rel="stylesheet">
		<link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
  <link rel="sitemap" href="/sitemap-index.xml" />
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmeA9nEgowA6gfhkn5pMgGwLCeYCgYavABeNZeNjNaMptb"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmdA8JxYTfUxjDaP5fwPYaY4ahvGv9E7DA5bgmqyS9hFwF"></script>
		<script type="text/javascript"  src="https://w3s.link/ipfs/QmSdKCsjLpF4RaAfN187WyNZJktx7ZDBd64UMJFRYLZhns"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmYW69TPmPaG5iEgxcmFL5Vq6AQdiRcknij3HSa5eUfoZM"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmSVxb64i3qGdkq3wpxQrJ6Wzmgjb91Q64RLsP3XGTQSdu"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/Qmdc7SahFDzTge3z5gV44jCWvLJTCMWZkAeq5e2kTmusur"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmUxJX3sQ4yHZ2HJXK1h3wFYQ1hDFXY1SjFmVGJStjZja2"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmY5rtqunjpyWEy3SjN4xHPSucvBJLAVc9o68jerTAChUY"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmYx3Fk3uNfNyazbsrq18JAFJRhR3xaCCWHS4dEvw1Z7Ea"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmSPDDFabjHUa4ukyQvQYBSzEudz8b8bFNs3eZcLo8Ehku"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmTmFdvnW2jnm4oy9BnQSxdyYskds2h6b6qpDid62EHuAC"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmXkSViinyAERfSdAUsxnBJ9Rv4eMeJxrFMFDRcHtXxAQ5"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmURdmMYTSkPcWSdJp1mvN1MdGsUkkDQwUwKevCnkxEK2n"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmdE6DzE4tKDXZ6q4Th4rLJ7ToqDn5qiNc51RQ8pU6W4e8"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmQcGS7f993casmkF3oFe3XLJa9yjumbGei2zuqsGYc8aF"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmVHQa28KVyBRxEmNwHNAbWobpyujg9bSsmk7JZCztMLUz"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmbeoZ95yuvx2bEauGfABp8bHCQGP4vvfLdGNa3uEWvfLS"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmZ6xpAGf4oJ4XF4DQLeUffcZDoDLDZUtkuVqczMaEzZc6"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmcbTfxUSBFErMmsrDS6dnDcXnguMjQBBdsZ9oJzNM83wL"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/Qmf2vtSkoLBP7QowCfMLxo69xNakCPKMGHGDped6AbvWt1"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmSa4G26ubYqGVKD5xVEQroLxznCT5hKwXV1VQXpaooX6C"></script>
		<script  type="text/javascript"  src="https://w3s.link/ipfs/QmRo1q1Jjst1wj3oSwXpqG1J3MHLJNzp3omxcA2VdKPG1A"></script>
	</head>
	<body class="min-h-full h-fit w-full text-lg leading-[1.42857] relative m-0">
		<slot />
	</body>
</html>
