---
---

<!doctype html>
<html lang="zh-CN" class="min-h-full h-full w-full text-[#dddddd] m-0 dark bg-black">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
		<title>边缘控射 - 控射游戏</title>
		<meta name="description" content="Heat Control by Howling-Strawberries">
		<link href="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/css/styles.css" rel="stylesheet">
	    <link href="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/css/styles_m.css" rel="stylesheet">
		<link
    rel="stylesheet"
    href="https://unpkg.com/@waline/client@v3/dist/waline.css"
  />
  <link rel="sitemap" href="/sitemap-index.xml" />
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/buttplug.min.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/ButtplugConnection.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/CharDialog.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/FlashManager.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/GameModeEndurance.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/GameModeNormal.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/GameModeSlideshow.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/HoldableButton.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/ImageBrowser.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/ImageManager.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/ListManager.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/NotifMessage.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/Popup.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/ProgressBarManager.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/RangeControl.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/RNGHat.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/RNGList.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/State.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/SwipeDetection.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/TimeTracker.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/Visuals.js"></script>
		<script  type="text/javascript" src="https://cdn.jsdelivr.net/gh/dragonjay-lyj/cumc@master/src/js/main.js"></script>
	</head>
	<body class="min-h-full h-fit w-full text-lg leading-[1.42857] relative m-0">
		<slot />
	</body>
</html>
